In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/Amulya/Desktop/EventsDataAnalysis/Task3/Results/RequiredDataSet.csv',header=None, names=['booking_date','channel','property_id','room_name','room_id','check_in','check_out','room_rate','booking_status'])
data.head()

,booking_date,channel,property_id,room_name,room_id,check_in,check_out,room_rate,booking_status
0,2013-06-30T16:35:42+05:30,DIRECT,CH,Superior Room,ST,2013-07-08,2014-04-15,0.0,COMPLETED
1,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
2,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
3,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
4,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED

In [2]:
Results = pd.read_excel('/Users/Amulya/Desktop/EventsDataAnalysis/Task3/Results/DataSetWithStayDate.xlsx')

In [3]:
Results.head()

,Booking_date,Booking_status,Channel,Check_in,Check_out,Property_id,Room_details,Room_name,Old_Room_rate,Room_rate,Stay_date
0,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-08
1,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-09
2,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-10
3,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-11
4,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-12

In [4]:
del Results['Old_Room_rate']
Results.head()

,Booking_date,Booking_status,Channel,Check_in,Check_out,Property_id,Room_details,Room_name,Room_rate,Stay_date
0,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-08
1,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-09
2,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-10
3,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-11
4,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-12

In [5]:
scrapyData = pd.read_csv('/Users/Amulya/Desktop/EventsDataAnalysis/Task3/Results/eventData2015.csv',header=None, names=['Day','Stay_date','Event','HolidayIn'])

In [6]:
scrapeResult = scrapyData.dropna()

In [7]:
scrapeResult.head()

,Day,Stay_date,Event,HolidayIn
0,Thursday,Jan-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,Jan-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,Jan-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,Jan-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,Jan-12,Birthday of Swami Vivekananda,West Bengal only.

In [8]:
scrapeResult['Stay_date'] =   '2015-' + scrapeResult['Stay_date']

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [9]:
scrapeResult.head()

,Day,Stay_date,Event,HolidayIn
0,Thursday,2015-Jan-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,2015-Jan-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,2015-Jan-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,2015-Jan-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,2015-Jan-12,Birthday of Swami Vivekananda,West Bengal only.

In [10]:
scrapeResult['Stay_date'] = pd.to_datetime(scrapeResult.Stay_date)
#pd.to_datetime('02/Jan/2015:08:07:32', format='%d/%b/%Y:%H:%M:%S')

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
scrapeResult.head()

,Day,Stay_date,Event,HolidayIn
0,Thursday,2015-01-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,2015-01-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,2015-01-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,2015-01-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,2015-01-12,Birthday of Swami Vivekananda,West Bengal only.

In [12]:
del scrapeResult['HolidayIn']

In [13]:
scrapeResult.head()

        Day  Stay_date                          Event
0  Thursday 2015-01-01                  New Years Day
1  Saturday 2015-01-03                  Milad-un-Nabi
2    Sunday 2015-01-04                     Id-e-Milad
3    Monday 2015-01-05      Guru Gobind Singh Jayanti
4    Monday 2015-01-12  Birthday of Swami Vivekananda

In [14]:
newResults = Results.filter(['Property_id','Stay_date','Booking_status','Room_name','Room_details','Room_rate','Channel'], axis=1)
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_details,Room_rate,Channel
0,CH,2013-07-08,COMPLETED,Superior Room,ST,0.0,DIRECT
1,CH,2013-07-09,COMPLETED,Superior Room,ST,0.0,DIRECT
2,CH,2013-07-10,COMPLETED,Superior Room,ST,0.0,DIRECT
3,CH,2013-07-11,COMPLETED,Superior Room,ST,0.0,DIRECT
4,CH,2013-07-12,COMPLETED,Superior Room,ST,0.0,DIRECT

In [15]:
newResults = newResults[(newResults.Booking_status == 'COMPLETED') | (newResults.Booking_status == 'CONFIRMED')]
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_details,Room_rate,Channel
0,CH,2013-07-08,COMPLETED,Superior Room,ST,0.0,DIRECT
1,CH,2013-07-09,COMPLETED,Superior Room,ST,0.0,DIRECT
2,CH,2013-07-10,COMPLETED,Superior Room,ST,0.0,DIRECT
3,CH,2013-07-11,COMPLETED,Superior Room,ST,0.0,DIRECT
4,CH,2013-07-12,COMPLETED,Superior Room,ST,0.0,DIRECT

In [16]:
newResults = newResults[(newResults.Stay_date >= '2015-01-01') & (newResults.Stay_date <= '2015-12-31')]
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_details,Room_rate,Channel
12641,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,SU,39500.0,DIRECT
12643,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,SU,39500.0,DIRECT
13311,VM,2015-05-23,COMPLETED,Standard Room,ST,5500.0,CORPORATES
13312,VM,2015-05-24,COMPLETED,Standard Room,ST,5500.0,CORPORATES
13313,VM,2015-05-23,COMPLETED,Standard Room,ST,5500.0,CORPORATES

In [17]:
newResults['Stay_date'] = pd.to_datetime(newResults.Stay_date)

In [18]:
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_details,Room_rate,Channel
12641,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,SU,39500.0,DIRECT
12643,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,SU,39500.0,DIRECT
13311,VM,2015-05-23,COMPLETED,Standard Room,ST,5500.0,CORPORATES
13312,VM,2015-05-24,COMPLETED,Standard Room,ST,5500.0,CORPORATES
13313,VM,2015-05-23,COMPLETED,Standard Room,ST,5500.0,CORPORATES

In [19]:
del newResults['Room_details']

In [20]:
scrapeResult.head()

        Day  Stay_date                          Event
0  Thursday 2015-01-01                  New Years Day
1  Saturday 2015-01-03                  Milad-un-Nabi
2    Sunday 2015-01-04                     Id-e-Milad
3    Monday 2015-01-05      Guru Gobind Singh Jayanti
4    Monday 2015-01-12  Birthday of Swami Vivekananda

In [21]:
del scrapeResult['Day']

In [22]:
scrapeResult.head()

   Stay_date                          Event
0 2015-01-01                  New Years Day
1 2015-01-03                  Milad-un-Nabi
2 2015-01-04                     Id-e-Milad
3 2015-01-05      Guru Gobind Singh Jayanti
4 2015-01-12  Birthday of Swami Vivekananda

In [23]:
res = pd.merge(left=newResults, left_on='Stay_date',right=scrapeResult, right_on='Stay_date', how='left')

#res = pd.merge(newResults, scrapeResult, on='Stay_date', how='left')

In [24]:
res = res.sort_values(by = 'Stay_date', ascending=True)
res.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT,New Years Day
1436,MP,2015-01-01,COMPLETED,Standard Room,7835.0,TRAVEL AGENTS,New Years Day
1435,CH,2015-01-01,COMPLETED,Superior Room,3000.0,TRAVEL AGENTS,New Years Day
1433,EB,2015-01-01,COMPLETED,Standard Room,14000.0,DIRECT,New Years Day
873,MB,2015-01-01,COMPLETED,Garden Villa,16000.0,TRAVEL AGENTS,New Years Day

In [25]:
res1 = res.drop_duplicates()

In [26]:
res1.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT,New Years Day
1436,MP,2015-01-01,COMPLETED,Standard Room,7835.0,TRAVEL AGENTS,New Years Day
1435,CH,2015-01-01,COMPLETED,Superior Room,3000.0,TRAVEL AGENTS,New Years Day
1433,EB,2015-01-01,COMPLETED,Standard Room,14000.0,DIRECT,New Years Day
873,MB,2015-01-01,COMPLETED,Garden Villa,16000.0,TRAVEL AGENTS,New Years Day

In [27]:
res1 = res1.reset_index()

In [28]:
res1.head()

,index,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
0,0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT,New Years Day
1,1436,MP,2015-01-01,COMPLETED,Standard Room,7835.0,TRAVEL AGENTS,New Years Day
2,1435,CH,2015-01-01,COMPLETED,Superior Room,3000.0,TRAVEL AGENTS,New Years Day
3,1433,EB,2015-01-01,COMPLETED,Standard Room,14000.0,DIRECT,New Years Day
4,873,MB,2015-01-01,COMPLETED,Garden Villa,16000.0,TRAVEL AGENTS,New Years Day

In [29]:
del res1['index']

In [30]:
res1.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT,New Years Day
1,MP,2015-01-01,COMPLETED,Standard Room,7835.0,TRAVEL AGENTS,New Years Day
2,CH,2015-01-01,COMPLETED,Superior Room,3000.0,TRAVEL AGENTS,New Years Day
3,EB,2015-01-01,COMPLETED,Standard Room,14000.0,DIRECT,New Years Day
4,MB,2015-01-01,COMPLETED,Garden Villa,16000.0,TRAVEL AGENTS,New Years Day

In [31]:
res1 = res1.fillna('-')

In [32]:
events = res1[(res1.Event != '-') ]
events

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.000000,DIRECT,New Years Day
1,MP,2015-01-01,COMPLETED,Standard Room,7835.000000,TRAVEL AGENTS,New Years Day
2,CH,2015-01-01,COMPLETED,Superior Room,3000.000000,TRAVEL AGENTS,New Years Day
3,EB,2015-01-01,COMPLETED,Standard Room,14000.000000,DIRECT,New Years Day
4,MB,2015-01-01,COMPLETED,Garden Villa,16000.000000,TRAVEL AGENTS,New Years Day
5,CL,2015-01-01,COMPLETED,Deluxe Pool Villa,38750.000000,DIRECT,New Years Day
6,CH,2015-01-01,COMPLETED,Superior Room,3000.000000,DIRECT,New Years Day
7,SS,2015-01-01,COMPLETED,Konkan Villa,218.420000,DIRECT,New Years Day
8,KK,2015-01-01,COMPLETED,Kovilakom Suite (010 L),310.000000,TRAVEL AGENTS,New Years Day
9,KR,2015-01-01,COMPLETED,Rasayana Gf 602 T,0.000000,DIRECT,New Years Day
10,MM,2015-01-01,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,New Years Day
11,SV,2015-01-01,COMPLETED,Deluxe Villa,18200.000000,TRAVEL AGENTS,New Years Day
12,CL,2015-01-01,COMPLETED,Deluxe Pool Villa,30415.000000,TRAVEL AGENTS,New Years Day
13,CL,2015-01-01,COMPLETED,Heritage Mansion,16704.000000,TRAVEL AGENTS,New Years Day
14,MP,2015-01-01,COMPLETED,Standard Room,10450.000000,OTA,New Years Day
15,SV,2015-01-01,COMPLETED,Standard Villa,16500.000000,TRAVEL AGENTS,New Years Day
16,MM,2015-01-01,COMPLETED,Standard Room,13200.000000,TRAVEL AGENTS,New Years Day
17,MB,2015-01-01,COMPLETED,Garden Villa,13612.142857,TRAVEL AGENTS,New Years Day
18,MB,2015-01-01,COMPLETED,Garden Villa,18066.666667,DIRECT,New Years Day
19,EB,2015-01-01,COMPLETED,Standard Room,12622.000000,OTA,New Years Day
20,EB,2015-01-01,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,New Years Day
21,VM,2015-01-01,COMPLETED,Standard Room,12870.000000,TRAVEL AGENTS,New Years Day
22,SS,2015-01-01,COMPLETED,Konkan Villa,267.000000,DIRECT,New Years Day
23,MB,2015-01-01,COMPLETED,Garden Pool Villa,27000.000000,TRAVEL AGENTS,New Years Day
24,MB,2015-01-01,COMPLETED,Garden Villa,14447.000000,TRAVEL AGENTS,New Years Day
25,SS,2015-01-01,COMPLETED,Konkan Villa,0.000000,TRAVEL AGENTS,New Years Day
26,MP,2015-01-01,COMPLETED,Standard Room,8900.000000,DIRECT,New Years Day
27,SS,2015-01-01,COMPLETED,Konkan Villa,0.000000,DIRECT,New Years Day
28,MB,2015-01-01,COMPLETED,Garden Pool Villa,0.000000,TRAVEL AGENTS,New Years Day
29,MB,2015-01-01,COMPLETED,Garden Villa,22000.000000,DIRECT,New Years Day
...,...,...,...,...,...,...,...
41480,SV,2015-12-26,COMPLETED,Standard Villa,8000.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41481,SV,2015-12-26,COMPLETED,Standard Villa,14850.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41482,BB,2015-12-26,COMPLETED,Standard Sea Facing Room,22850.000000,DIRECT,Shaheed Udham Singh's Birthday
41483,MP,2015-12-26,COMPLETED,Standard Room,7052.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41484,KK,2015-12-26,COMPLETED,Kovilakom Suite (019 L P),310.330000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41485,SS,2015-12-26,COMPLETED,Konkan Villa,280.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41486,KR,2015-12-26,COMPLETED,Rasayana Suite 105,0.000000,DIRECT,Shaheed Udham Singh's Birthday
41487,BB,2015-12-26,COMPLETED,Deluxe Sea Facing Suite,31125.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41488,MB,2015-12-26,COMPLETED,Garden Villa,17700.000000,DIRECT,Shaheed Udham Singh's Birthday
41489,SS,2015-12-26,COMPLETED,Konkan Villa,206.420000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41490,VV,2015-12-26,COMPLETED,Cottage,0.000000,DIRECT,Shaheed Udham Singh's Birthday
41491,KR,2015-12-26,COMPLETED,Rasayana Gf 501 T,20102.200000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41492,CH,2015-12-26,COMPLETED,Superior Room,4700.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41493,CH,2015-12-26,COMPLETED,Superior Room,4100.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41494,MP,2015-12-26,COMPLETED,Standard Room,7500.000000,DIRECT,Shaheed Udham Singh's Birthday
41495,SS,2015-12-26,COMPLETED,Konkan Villa,385.000000,DIRECT,Shaheed Udham Singh's Birthday
41496,SV,2015-12-26,COMPLETED,Standard Villa,19440.000000,DIRECT,Shaheed Udham Singh's Birthday
41497,KK,2015-12-26,COMPLETED,Kovilakom Suite (006 L),30826.800000,DIRECT,Shaheed Udham Singh's Birthday
41498,MP,2015-12-26,COMPLETED,Standard Room,8880.000000,DIRECT,Shaheed Udham Singh's Birthday
41499,SS,2015-12-26,COMPLETED,Konkan Villa,14240.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41500,SS,2015-12-26,COMPLETED,Konkan Villa,261.420000,DIRECT,Shaheed Udham Singh's Birthday
41501,MB,2015-12-26,COMPLETED,Garden Villa,19560.000000,DIRECT,Shaheed Udham Singh's Birthday
41502,KK,2015-12-26,COMPLETED,Kovilakom Suite (008 L),353.560000,DIRECT,Shaheed Udham Singh's Birthday
41503,CH,2015-12-26,COMPLETED,Superior Room,3700.000000,CORPORATES,Shaheed Udham Singh's Birthday
41504,CH,2015-12-26,COMPLETED,Superior Room,5000.000000,CORPORATES,Shaheed Udham Singh's Birthday
41505,CH,2015-12-26,COMPLETED,Superior Room,4200.000000,OTA,Shaheed Udham Singh's Birthday
41506,CL,2015-12-26,COMPLETED,Heritage Bungalow,16800.000000,DIRECT,Shaheed Udham Singh's Birthday
41507,CL,2015-12-26,COMPLETED,Heritage Bungalow,10912.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday
41508,SV,2015-12-26,COMPLETED,Deluxe Villa,20800.000000,DIRECT,Shaheed Udham Singh's Birthday
41509,CH,2015-12-26,COMPLETED,Superior Room,3500.000000,OTA,Shaheed Udham Singh's Birthday

In [33]:
events['totalRevenue'] = events.groupby(['Property_id','Stay_date'])['Room_rate'].transform('mean')
# events

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [34]:
# events_tr = events["totalRevenue"].mean()
# events_tr

In [34]:
events['room_count'] = events.groupby(['Property_id','Stay_date'])['Room_rate'].transform('count')
events.head()

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue,room_count
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT,New Years Day,20197.435385,13
1,MP,2015-01-01,COMPLETED,Standard Room,7835.0,TRAVEL AGENTS,New Years Day,9303.000000,5
2,CH,2015-01-01,COMPLETED,Superior Room,3000.0,TRAVEL AGENTS,New Years Day,3009.909091,11
3,EB,2015-01-01,COMPLETED,Standard Room,14000.0,DIRECT,New Years Day,12013.050000,10
4,MB,2015-01-01,COMPLETED,Garden Villa,16000.0,TRAVEL AGENTS,New Years Day,19221.534766,22

In [35]:
events['ADR'] = events.apply(lambda events: (events['totalRevenue'] / events['room_count'] ) , axis=1)

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [37]:
# events_adr = events["ADR"].unique().mean()
# events_adr

In [36]:
events

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue,room_count,ADR
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.000000,DIRECT,New Years Day,20197.435385,13,1553.648876
1,MP,2015-01-01,COMPLETED,Standard Room,7835.000000,TRAVEL AGENTS,New Years Day,9303.000000,5,1860.600000
2,CH,2015-01-01,COMPLETED,Superior Room,3000.000000,TRAVEL AGENTS,New Years Day,3009.909091,11,273.628099
3,EB,2015-01-01,COMPLETED,Standard Room,14000.000000,DIRECT,New Years Day,12013.050000,10,1201.305000
4,MB,2015-01-01,COMPLETED,Garden Villa,16000.000000,TRAVEL AGENTS,New Years Day,19221.534766,22,873.706126
5,CL,2015-01-01,COMPLETED,Deluxe Pool Villa,38750.000000,DIRECT,New Years Day,18695.966400,25,747.838656
6,CH,2015-01-01,COMPLETED,Superior Room,3000.000000,DIRECT,New Years Day,3009.909091,11,273.628099
7,SS,2015-01-01,COMPLETED,Konkan Villa,218.420000,DIRECT,New Years Day,13346.878182,22,606.676281
8,KK,2015-01-01,COMPLETED,Kovilakom Suite (010 L),310.000000,TRAVEL AGENTS,New Years Day,4135.313077,13,318.101006
9,KR,2015-01-01,COMPLETED,Rasayana Gf 602 T,0.000000,DIRECT,New Years Day,14189.387500,12,1182.448958
10,MM,2015-01-01,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,New Years Day,10515.357143,7,1502.193878
11,SV,2015-01-01,COMPLETED,Deluxe Villa,18200.000000,TRAVEL AGENTS,New Years Day,16076.538462,13,1236.656805
12,CL,2015-01-01,COMPLETED,Deluxe Pool Villa,30415.000000,TRAVEL AGENTS,New Years Day,18695.966400,25,747.838656
13,CL,2015-01-01,COMPLETED,Heritage Mansion,16704.000000,TRAVEL AGENTS,New Years Day,18695.966400,25,747.838656
14,MP,2015-01-01,COMPLETED,Standard Room,10450.000000,OTA,New Years Day,9303.000000,5,1860.600000
15,SV,2015-01-01,COMPLETED,Standard Villa,16500.000000,TRAVEL AGENTS,New Years Day,16076.538462,13,1236.656805
16,MM,2015-01-01,COMPLETED,Standard Room,13200.000000,TRAVEL AGENTS,New Years Day,10515.357143,7,1502.193878
17,MB,2015-01-01,COMPLETED,Garden Villa,13612.142857,TRAVEL AGENTS,New Years Day,19221.534766,22,873.706126
18,MB,2015-01-01,COMPLETED,Garden Villa,18066.666667,DIRECT,New Years Day,19221.534766,22,873.706126
19,EB,2015-01-01,COMPLETED,Standard Room,12622.000000,OTA,New Years Day,12013.050000,10,1201.305000
20,EB,2015-01-01,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,New Years Day,12013.050000,10,1201.305000
21,VM,2015-01-01,COMPLETED,Standard Room,12870.000000,TRAVEL AGENTS,New Years Day,9768.833333,6,1628.138889
22,SS,2015-01-01,COMPLETED,Konkan Villa,267.000000,DIRECT,New Years Day,13346.878182,22,606.676281
23,MB,2015-01-01,COMPLETED,Garden Pool Villa,27000.000000,TRAVEL AGENTS,New Years Day,19221.534766,22,873.706126
24,MB,2015-01-01,COMPLETED,Garden Villa,14447.000000,TRAVEL AGENTS,New Years Day,19221.534766,22,873.706126
25,SS,2015-01-01,COMPLETED,Konkan Villa,0.000000,TRAVEL AGENTS,New Years Day,13346.878182,22,606.676281
26,MP,2015-01-01,COMPLETED,Standard Room,8900.000000,DIRECT,New Years Day,9303.000000,5,1860.600000
27,SS,2015-01-01,COMPLETED,Konkan Villa,0.000000,DIRECT,New Years Day,13346.878182,22,606.676281
28,MB,2015-01-01,COMPLETED,Garden Pool Villa,0.000000,TRAVEL AGENTS,New Years Day,19221.534766,22,873.706126
29,MB,2015-01-01,COMPLETED,Garden Villa,22000.000000,DIRECT,New Years Day,19221.534766,22,873.706126
...,...,...,...,...,...,...,...,...,...,...
41480,SV,2015-12-26,COMPLETED,Standard Villa,8000.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,15674.285714,14,1119.591837
41481,SV,2015-12-26,COMPLETED,Standard Villa,14850.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,15674.285714,14,1119.591837
41482,BB,2015-12-26,COMPLETED,Standard Sea Facing Room,22850.000000,DIRECT,Shaheed Udham Singh's Birthday,22915.583333,12,1909.631944
41483,MP,2015-12-26,COMPLETED,Standard Room,7052.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,8957.400000,5,1791.480000
41484,KK,2015-12-26,COMPLETED,Kovilakom Suite (019 L P),310.330000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,13441.682500,12,1120.140208
41485,SS,2015-12-26,COMPLETED,Konkan Villa,280.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,10146.136111,18,563.674228
41486,KR,2015-12-26,COMPLETED,Rasayana Suite 105,0.000000,DIRECT,Shaheed Udham Singh's Birthday,16519.552000,10,1651.955200
41487,BB,2015-12-26,COMPLETED,Deluxe Sea Facing Suite,31125.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,22915.583333,12,1909.631944
41488,MB,2015-12-26,COMPLETED,Garden Villa,17700.000000,DIRECT,Shaheed Udham Singh's Birthday,20845.523810,21,992.643991
41489,SS,2015-12-26,COMPLETED,Konkan Villa,206.420000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,10146.136111,18,563.674228
41490,VV,2015-12-26,COMPLETED,Cottage,0.000000,DIRECT,Shaheed Udham Singh's Birthday,0.000000,1,0.000000
41491,KR,2015-12-26,COMPLETED,Rasayana Gf 501 T,20102.200000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,16519.552000,10,1651.955200
41492,CH,2015-12-26,COMPLETED,Superior Room,4700.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145
41493,CH,2015-12-26,COMPLETED,Superior Room,4100.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145
41494,MP,2015-12-26,COMPLETED,Standard Room,7500.000000,DIRECT,Shaheed Udham Singh's Birthday,8957.400000,5,1791.480000
41495,SS,2015-12-26,COMPLETED,Konkan Villa,385.000000,DIRECT,Shaheed Udham Singh's Birthday,10146.136111,18,563.674228
41496,SV,2015-12-26,COMPLETED,Standard Villa,19440.000000,DIRECT,Shaheed Udham Singh's Birthday,15674.285714,14,1119.591837
41497,KK,2015-12-26,COMPLETED,Kovilakom Suite (006 L),30826.800000,DIRECT,Shaheed Udham Singh's Birthday,13441.682500,12,1120.140208
41498,MP,2015-12-26,COMPLETED,Standard Room,8880.000000,DIRECT,Shaheed Udham Singh's Birthday,8957.400000,5,1791.480000
41499,SS,2015-12-26,COMPLETED,Konkan Villa,14240.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,10146.136111,18,563.674228
41500,SS,2015-12-26,COMPLETED,Konkan Villa,261.420000,DIRECT,Shaheed Udham Singh's Birthday,10146.136111,18,563.674228
41501,MB,2015-12-26,COMPLETED,Garden Villa,19560.000000,DIRECT,Shaheed Udham Singh's Birthday,20845.523810,21,992.643991
41502,KK,2015-12-26,COMPLETED,Kovilakom Suite (008 L),353.560000,DIRECT,Shaheed Udham Singh's Birthday,13441.682500,12,1120.140208
41503,CH,2015-12-26,COMPLETED,Superior Room,3700.000000,CORPORATES,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145
41504,CH,2015-12-26,COMPLETED,Superior Room,5000.000000,CORPORATES,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145
41505,CH,2015-12-26,COMPLETED,Superior Room,4200.000000,OTA,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145
41506,CL,2015-12-26,COMPLETED,Heritage Bungalow,16800.000000,DIRECT,Shaheed Udham Singh's Birthday,20314.000000,17,1194.941176
41507,CL,2015-12-26,COMPLETED,Heritage Bungalow,10912.000000,TRAVEL AGENTS,Shaheed Udham Singh's Birthday,20314.000000,17,1194.941176
41508,SV,2015-12-26,COMPLETED,Deluxe Villa,20800.000000,DIRECT,Shaheed Udham Singh's Birthday,15674.285714,14,1119.591837
41509,CH,2015-12-26,COMPLETED,Superior Room,3500.000000,OTA,Shaheed Udham Singh's Birthday,3992.355769,26,153.552145

In [37]:
nonevents = res1[(res1.Event == '-') ]
nonevents

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event
164,EB,2015-01-02,COMPLETED,Standard Room,11250.000000,TRAVEL AGENTS,-
165,SV,2015-01-02,COMPLETED,Standard Villa,14850.000000,TRAVEL AGENTS,-
166,MB,2015-01-02,COMPLETED,Garden Villa,15205.000000,TRAVEL AGENTS,-
167,MB,2015-01-02,COMPLETED,Garden Villa,17740.000000,DIRECT,-
168,BB,2015-01-02,COMPLETED,Standard Sea Facing Room,21375.000000,TRAVEL AGENTS,-
169,SS,2015-01-02,COMPLETED,Konkan Villa,0.000000,DIRECT,-
170,SS,2015-01-02,COMPLETED,Konkan Villa,0.000000,TRAVEL AGENTS,-
171,CH,2015-01-02,COMPLETED,Superior Room,3700.000000,DIRECT,-
172,MP,2015-01-02,COMPLETED,Standard Room,8900.000000,DIRECT,-
173,SC,2015-01-02,COMPLETED,Kettuvallom - One Bed Room,15730.000000,TRAVEL AGENTS,-
174,EB,2015-01-02,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,-
175,SS,2015-01-02,COMPLETED,Konkan Villa,14909.000000,TRAVEL AGENTS,-
176,SS,2015-01-02,COMPLETED,Konkan Villa,22576.000000,TRAVEL AGENTS,-
177,SV,2015-01-02,COMPLETED,Standard Villa,13500.000000,TRAVEL AGENTS,-
178,CH,2015-01-02,COMPLETED,Superior Room,3000.000000,TRAVEL AGENTS,-
179,BB,2015-01-02,COMPLETED,Deluxe Sea Facing Suite,29625.000000,TRAVEL AGENTS,-
180,MB,2015-01-02,COMPLETED,Garden Villa,15200.000000,TRAVEL AGENTS,-
181,MB,2015-01-02,COMPLETED,Garden Pool Villa,27000.000000,TRAVEL AGENTS,-
182,CL,2015-01-02,COMPLETED,Heritage Bungalow,14850.000000,TRAVEL AGENTS,-
183,MB,2015-01-02,COMPLETED,Garden Villa,11610.000000,TRAVEL AGENTS,-
184,MB,2015-01-02,COMPLETED,Garden Villa,17740.000000,TRAVEL AGENTS,-
185,CH,2015-01-02,COMPLETED,Superior Room,4250.000000,OTA,-
186,SV,2015-01-02,COMPLETED,Deluxe Villa,19500.000000,TRAVEL AGENTS,-
187,MB,2015-01-02,COMPLETED,Garden Villa,14447.000000,TRAVEL AGENTS,-
188,MB,2015-01-02,COMPLETED,Garden Villa,18066.666667,DIRECT,-
189,CL,2015-01-02,COMPLETED,Heritage Bungalow,13500.000000,TRAVEL AGENTS,-
190,MB,2015-01-02,COMPLETED,Garden Villa,16000.000000,TRAVEL AGENTS,-
191,KK,2015-01-02,COMPLETED,Vengunad Suite (004 T),721.280000,DIRECT,-
192,KK,2015-01-02,COMPLETED,Kalari Suite (016 L),447.350000,TRAVEL AGENTS,-
193,CL,2015-01-02,COMPLETED,Deluxe Pool Villa,38750.000000,DIRECT,-
...,...,...,...,...,...,...,...
42245,SC,2015-12-31,COMPLETED,Kettuvallom - Two Bed Room,31500.000000,TRAVEL AGENTS,-
42246,CL,2015-12-31,COMPLETED,Heritage Bungalow,13500.000000,TRAVEL AGENTS,-
42247,MP,2015-12-31,COMPLETED,Standard Room,7445.000000,TRAVEL AGENTS,-
42248,MP,2015-12-31,COMPLETED,Standard Room (twin),6700.000000,TRAVEL AGENTS,-
42249,KR,2015-12-31,COMPLETED,Rasayana Gf 602 T,28864.100000,TRAVEL AGENTS,-
42250,KK,2015-12-31,COMPLETED,Vengunad Suite (004 T),531.780000,DIRECT,-
42251,KK,2015-12-31,COMPLETED,Kovilakom Suite (019 L P),310.330000,TRAVEL AGENTS,-
42252,BG,2015-12-31,COMPLETED,Bungalow No.2,18750.000000,TRAVEL AGENTS,-
42253,BB,2015-12-31,COMPLETED,Deluxe Sea Facing Suite,29625.000000,TRAVEL AGENTS,-
42254,SV,2015-12-31,COMPLETED,Standard Villa,8000.000000,TRAVEL AGENTS,-
42255,CH,2015-12-31,COMPLETED,Superior Room,3000.000000,OTA,-
42256,MM,2015-12-31,COMPLETED,Standard Room,15400.000000,DIRECT,-
42257,CL,2015-12-31,COMPLETED,Deluxe Pool Villa,28000.000000,TRAVEL AGENTS,-
42258,CL,2015-12-31,COMPLETED,Heritage Mansion,21000.000000,DIRECT,-
42259,CL,2015-12-31,COMPLETED,Heritage Bungalow,16830.000000,DIRECT,-
42260,CH,2015-12-31,COMPLETED,Superior Room,5040.000000,OTA,-
42261,SS,2015-12-31,COMPLETED,Konkan Villa,259.000000,TRAVEL AGENTS,-
42262,BB,2015-12-31,COMPLETED,Standard Sea Facing (twin),22425.000000,TRAVEL AGENTS,-
42263,CL,2015-12-31,COMPLETED,Deluxe Pool Villa,32590.000000,TRAVEL AGENTS,-
42264,MM,2015-12-31,COMPLETED,Standard Room,15385.000000,DIRECT,-
42265,MP,2015-12-31,COMPLETED,Standard Room,7106.000000,DIRECT,-
42266,MB,2015-12-31,COMPLETED,Garden Villa,15205.000000,TRAVEL AGENTS,-
42267,MB,2015-12-31,COMPLETED,Deluxe Pool Villa,33400.000000,DIRECT,-
42268,CL,2015-12-31,COMPLETED,Heritage Bungalow,13860.000000,TRAVEL AGENTS,-
42269,MB,2015-12-31,COMPLETED,Garden Villa,11610.000000,TRAVEL AGENTS,-
42270,CH,2015-12-31,COMPLETED,Superior Room,5500.000000,OTA,-
42271,EB,2015-12-31,COMPLETED,Standard Room,13575.000000,TRAVEL AGENTS,-
42272,BG,2015-12-31,COMPLETED,Bungalow No.1,18000.000000,TRAVEL AGENTS,-
42273,MB,2015-12-31,COMPLETED,Garden Villa,16555.000000,TRAVEL AGENTS,-
42274,KR,2015-12-31,COMPLETED,Rasayana Suite 105,0.000000,DIRECT,-

In [38]:
nonevents['totalRevenue'] = nonevents.groupby(['Property_id','Stay_date'])['Room_rate'].transform('mean')
nonevents.head()

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue
164,EB,2015-01-02,COMPLETED,Standard Room,11250.0,TRAVEL AGENTS,-,12187.000000
165,SV,2015-01-02,COMPLETED,Standard Villa,14850.0,TRAVEL AGENTS,-,13876.818182
166,MB,2015-01-02,COMPLETED,Garden Villa,15205.0,TRAVEL AGENTS,-,19080.882381
167,MB,2015-01-02,COMPLETED,Garden Villa,17740.0,DIRECT,-,19080.882381
168,BB,2015-01-02,COMPLETED,Standard Sea Facing Room,21375.0,TRAVEL AGENTS,-,21905.563846

In [39]:
# nonevents_tr = nonevents["totalRevenue"].unique().mean()
# nonevents_tr

In [40]:
nonevents['room_count'] = nonevents.groupby(['Property_id','Stay_date'])['Room_rate'].transform('count')
nonevents.head()

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue,room_count
164,EB,2015-01-02,COMPLETED,Standard Room,11250.0,TRAVEL AGENTS,-,12187.000000,8
165,SV,2015-01-02,COMPLETED,Standard Villa,14850.0,TRAVEL AGENTS,-,13876.818182,11
166,MB,2015-01-02,COMPLETED,Garden Villa,15205.0,TRAVEL AGENTS,-,19080.882381,28
167,MB,2015-01-02,COMPLETED,Garden Villa,17740.0,DIRECT,-,19080.882381,28
168,BB,2015-01-02,COMPLETED,Standard Sea Facing Room,21375.0,TRAVEL AGENTS,-,21905.563846,13

In [41]:
nonevents['ADR'] = nonevents.apply(lambda nonevents: (nonevents['totalRevenue'] / nonevents['room_count'] ) , axis=1)
nonevents.head()

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue,room_count,ADR
164,EB,2015-01-02,COMPLETED,Standard Room,11250.0,TRAVEL AGENTS,-,12187.000000,8,1523.375000
165,SV,2015-01-02,COMPLETED,Standard Villa,14850.0,TRAVEL AGENTS,-,13876.818182,11,1261.528926
166,MB,2015-01-02,COMPLETED,Garden Villa,15205.0,TRAVEL AGENTS,-,19080.882381,28,681.460085
167,MB,2015-01-02,COMPLETED,Garden Villa,17740.0,DIRECT,-,19080.882381,28,681.460085
168,BB,2015-01-02,COMPLETED,Standard Sea Facing Room,21375.0,TRAVEL AGENTS,-,21905.563846,13,1685.043373

In [43]:
# nonevents_adr = nonevents["ADR"].unique().mean()
# nonevents_adr

In [42]:
nonevents

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel,Event,totalRevenue,room_count,ADR
164,EB,2015-01-02,COMPLETED,Standard Room,11250.000000,TRAVEL AGENTS,-,12187.000000,8,1523.375000
165,SV,2015-01-02,COMPLETED,Standard Villa,14850.000000,TRAVEL AGENTS,-,13876.818182,11,1261.528926
166,MB,2015-01-02,COMPLETED,Garden Villa,15205.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
167,MB,2015-01-02,COMPLETED,Garden Villa,17740.000000,DIRECT,-,19080.882381,28,681.460085
168,BB,2015-01-02,COMPLETED,Standard Sea Facing Room,21375.000000,TRAVEL AGENTS,-,21905.563846,13,1685.043373
169,SS,2015-01-02,COMPLETED,Konkan Villa,0.000000,DIRECT,-,12802.715000,22,581.941591
170,SS,2015-01-02,COMPLETED,Konkan Villa,0.000000,TRAVEL AGENTS,-,12802.715000,22,581.941591
171,CH,2015-01-02,COMPLETED,Superior Room,3700.000000,DIRECT,-,3373.000000,16,210.812500
172,MP,2015-01-02,COMPLETED,Standard Room,8900.000000,DIRECT,-,9002.500000,6,1500.416667
173,SC,2015-01-02,COMPLETED,Kettuvallom - One Bed Room,15730.000000,TRAVEL AGENTS,-,25276.250000,4,6319.062500
174,EB,2015-01-02,COMPLETED,Standard Room,11755.000000,TRAVEL AGENTS,-,12187.000000,8,1523.375000
175,SS,2015-01-02,COMPLETED,Konkan Villa,14909.000000,TRAVEL AGENTS,-,12802.715000,22,581.941591
176,SS,2015-01-02,COMPLETED,Konkan Villa,22576.000000,TRAVEL AGENTS,-,12802.715000,22,581.941591
177,SV,2015-01-02,COMPLETED,Standard Villa,13500.000000,TRAVEL AGENTS,-,13876.818182,11,1261.528926
178,CH,2015-01-02,COMPLETED,Superior Room,3000.000000,TRAVEL AGENTS,-,3373.000000,16,210.812500
179,BB,2015-01-02,COMPLETED,Deluxe Sea Facing Suite,29625.000000,TRAVEL AGENTS,-,21905.563846,13,1685.043373
180,MB,2015-01-02,COMPLETED,Garden Villa,15200.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
181,MB,2015-01-02,COMPLETED,Garden Pool Villa,27000.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
182,CL,2015-01-02,COMPLETED,Heritage Bungalow,14850.000000,TRAVEL AGENTS,-,18443.028696,23,801.870813
183,MB,2015-01-02,COMPLETED,Garden Villa,11610.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
184,MB,2015-01-02,COMPLETED,Garden Villa,17740.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
185,CH,2015-01-02,COMPLETED,Superior Room,4250.000000,OTA,-,3373.000000,16,210.812500
186,SV,2015-01-02,COMPLETED,Deluxe Villa,19500.000000,TRAVEL AGENTS,-,13876.818182,11,1261.528926
187,MB,2015-01-02,COMPLETED,Garden Villa,14447.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
188,MB,2015-01-02,COMPLETED,Garden Villa,18066.666667,DIRECT,-,19080.882381,28,681.460085
189,CL,2015-01-02,COMPLETED,Heritage Bungalow,13500.000000,TRAVEL AGENTS,-,18443.028696,23,801.870813
190,MB,2015-01-02,COMPLETED,Garden Villa,16000.000000,TRAVEL AGENTS,-,19080.882381,28,681.460085
191,KK,2015-01-02,COMPLETED,Vengunad Suite (004 T),721.280000,DIRECT,-,4135.313077,13,318.101006
192,KK,2015-01-02,COMPLETED,Kalari Suite (016 L),447.350000,TRAVEL AGENTS,-,4135.313077,13,318.101006
193,CL,2015-01-02,COMPLETED,Deluxe Pool Villa,38750.000000,DIRECT,-,18443.028696,23,801.870813
...,...,...,...,...,...,...,...,...,...,...
42245,SC,2015-12-31,COMPLETED,Kettuvallom - Two Bed Room,31500.000000,TRAVEL AGENTS,-,27000.000000,2,13500.000000
42246,CL,2015-12-31,COMPLETED,Heritage Bungalow,13500.000000,TRAVEL AGENTS,-,20749.604286,28,741.057296
42247,MP,2015-12-31,COMPLETED,Standard Room,7445.000000,TRAVEL AGENTS,-,7922.666667,6,1320.444444
42248,MP,2015-12-31,COMPLETED,Standard Room (twin),6700.000000,TRAVEL AGENTS,-,7922.666667,6,1320.444444
42249,KR,2015-12-31,COMPLETED,Rasayana Gf 602 T,28864.100000,TRAVEL AGENTS,-,14358.464167,12,1196.538681
42250,KK,2015-12-31,COMPLETED,Vengunad Suite (004 T),531.780000,DIRECT,-,10840.648462,13,833.896036
42251,KK,2015-12-31,COMPLETED,Kovilakom Suite (019 L P),310.330000,TRAVEL AGENTS,-,10840.648462,13,833.896036
42252,BG,2015-12-31,COMPLETED,Bungalow No.2,18750.000000,TRAVEL AGENTS,-,18375.000000,2,9187.500000
42253,BB,2015-12-31,COMPLETED,Deluxe Sea Facing Suite,29625.000000,TRAVEL AGENTS,-,21981.555556,9,2442.395062
42254,SV,2015-12-31,COMPLETED,Standard Villa,8000.000000,TRAVEL AGENTS,-,15011.282051,13,1154.714004
42255,CH,2015-12-31,COMPLETED,Superior Room,3000.000000,OTA,-,4462.133333,15,297.475556
42256,MM,2015-12-31,COMPLETED,Standard Room,15400.000000,DIRECT,-,13012.773810,8,1626.596726
42257,CL,2015-12-31,COMPLETED,Deluxe Pool Villa,28000.000000,TRAVEL AGENTS,-,20749.604286,28,741.057296
42258,CL,2015-12-31,COMPLETED,Heritage Mansion,21000.000000,DIRECT,-,20749.604286,28,741.057296
42259,CL,2015-12-31,COMPLETED,Heritage Bungalow,16830.000000,DIRECT,-,20749.604286,28,741.057296
42260,CH,2015-12-31,COMPLETED,Superior Room,5040.000000,OTA,-,4462.133333,15,297.475556
42261,SS,2015-12-31,COMPLETED,Konkan Villa,259.000000,TRAVEL AGENTS,-,11294.047895,19,594.423573
42262,BB,2015-12-31,COMPLETED,Standard Sea Facing (twin),22425.000000,TRAVEL AGENTS,-,21981.555556,9,2442.395062
42263,CL,2015-12-31,COMPLETED,Deluxe Pool Villa,32590.000000,TRAVEL AGENTS,-,20749.604286,28,741.057296
42264,MM,2015-12-31,COMPLETED,Standard Room,15385.000000,DIRECT,-,13012.773810,8,1626.596726
42265,MP,2015-12-31,COMPLETED,Standard Room,7106.000000,DIRECT,-,7922.666667,6,1320.444444
42266,MB,2015-12-31,COMPLETED,Garden Villa,15205.000000,TRAVEL AGENTS,-,21238.910625,16,1327.431914
42267,MB,2015-12-31,COMPLETED,Deluxe Pool Villa,33400.000000,DIRECT,-,21238.910625,16,1327.431914
42268,CL,2015-12-31,COMPLETED,Heritage Bungalow,13860.000000,TRAVEL AGENTS,-,20749.604286,28,741.057296
42269,MB,2015-12-31,COMPLETED,Garden Villa,11610.000000,TRAVEL AGENTS,-,21238.910625,16,1327.431914
42270,CH,2015-12-31,COMPLETED,Superior Room,5500.000000,OTA,-,4462.133333,15,297.475556
42271,EB,2015-12-31,COMPLETED,Standard Room,13575.000000,TRAVEL AGENTS,-,9682.500000,8,1210.312500
42272,BG,2015-12-31,COMPLETED,Bungalow No.1,18000.000000,TRAVEL AGENTS,-,18375.000000,2,9187.500000
42273,MB,2015-12-31,COMPLETED,Garden Villa,16555.000000,TRAVEL AGENTS,-,21238.910625,16,1327.431914
42274,KR,2015-12-31,COMPLETED,Rasayana Suite 105,0.000000,DIRECT,-,14358.464167,12,1196.538681